/* Change these while looking at the browser and running the sockjs example containing a figwheely. */
body {
	background-image:
		url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/tileable_wood_texture.png")
		/*	background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/rip_jobs.png")
*/
}

html {
	margin-left: 400px; /* change 400 to 40 and save */
}

#picture {
	width: 20px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
	background-size: 100% 100%;
	background-image: url("1.jpg") /* change 1 to 2 and save */
}